@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?p1l1p4');
  src:  url('../fonts/icomoon.eot?p1l1p4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p1l1p4') format('truetype'),
    url('../fonts/icomoon.woff?p1l1p4') format('woff'),
    url('../fonts/icomoon.svg?p1l1p4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-comment-o:before {
  content: "\f0e5";
}
